<ion-header class="header-dark">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-gray">
 <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
  pullingIcon="arrow-dropdown"
  pullingText="puxe para atualizar"
  refreshingSpinner="circles"
  refreshingText="Atualizando...">



</ion-refresher-content>
</ion-refresher>

<div class="card" *ngFor="let i of orders" (click)="openOrder(i)">
  <h2 class="card__status" [ngClass]="i.elapsed>25?i.elapsed>45?'critical':'alert':''"><span class="icon-clock"></span>{{i.elapsed}} min</h2>
  <div class="card__details">
    <span class="card__user"><span class="icon-user"></span>{{i.costumer.split(' ')[0]}}</span>
    <!-- <span class="card__payment">{{i.payment}}<span  [ngClass]="i.pagamento"></span></span> -->
  </div>
  <div class="card__info">
    <span class="card__info__order">

      <span>
        <figure class="card__info__image">
          <img-loader [src]="'https://cerveja.me/img/mobile/'+i.img"></img-loader>
        </figure>
        {{i.amount}} Caixas
        <small>
          {{i.product}}
        </small>
      </span>
    </span>
    <button class="card__info__button" [ngClass]="i.icon==='icon-onway'?'active':''">
      <span class="card__info__button__icon" [ngClass]="i.icon?i.icon:'icon-view'"></span>
    </button>
  </div>
</div>

<div class="card" *ngFor="let i of old_orders" (click)="openOldOrder(i)">
  <h2 [ngClass]="i.cardstatus"><span class="icon-clock"></span>{{i.minutes}} min</h2>
  <div class="card__details">
    <span class="card__user"><span class="icon-user"></span>{{i.name.split(' ')[0]}}</span>
    <!-- <span class="card__payment">{{i.payment}}<span  [ngClass]="i.pagamento"></span></span> -->
  </div>
  <div class="card__info">
    <span class="card__info__order">

      <span>
        <figure class="card__info__image">
          <img-loader [src]="'http://cerveja.me/img/mobile/'+i.img"></img-loader>
        </figure>
        {{i.amount}} Caixas
        <small>
          {{i.proname}}
        </small>
      </span>
    </span>
    <button class="card__info__button" [ngClass]="i.btselect=='card__info__button__icon icon-go'?'active':''">
      <span [ngClass]="i.btselect"></span>
    </button>
  </div>
</div>


<p *ngIf="( orders && !orders.length) && ( old_orders && !old_orders.length)">Nenhum pedido, puxe atualizar</p>



</ion-content>
